{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "plugins": [],
  "rules": {
    "vue/multi-word-component-names": "off",
    "no-irregular-whitespace": "off",
    "eslintvue/max-attributes-per-line": "off",
    "max-len": ["warn", { "code": 90 }]
  },
  "overrides": [
    {
      "files": ["**/__tests__/*.{j,t}s?(x)", "**/*.{spec,test}.{j,t}s?(x)"],
      "env": {
        "jest": true
      }
    }
  ]
}
